$animationSpeed : 0.75s;
.before{ 
    opacity: 0%;
    transform: scale(0.5);
    transition: all $animationSpeed cubic-bezier(0.075, 0.82, 0.165, 1);
}
.introduction{
    .before{ 
        opacity: 0%;
        transform: translateX(-250px);
        transition: all $animationSpeed cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .active{
        opacity: 1;
        transform: scale(1);
        transform: translateX(0px);
    }
}

.active{
    opacity: 1;
    transform: scale(1);
}
.no-scroll{
    display: inline-block;
    transform: translateY(0px);
    transition: all 1s linear;
}
.scroll{
    transform: translateY(10px);
}
.proj-container .specs{
   transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.proj-container:hover .specs{
    opacity: 100%;
}
.proj-container img{
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.proj-container:hover img{
    transform: scale(1.5);
}