header{
    nav{
        min-height: 60px;
        background-color: var(--secondary-color);
        padding: $spacing-1 $spacing-4;
        a{
            font-weight: 500;
            text-transform: uppercase;
            color: white;
            padding: $spacing-3 $spacing-4;
        }
        .menu{
            padding: $spacing-3;
            color: white;
            font-size: $spacing-4;
        }
    }
}