html {
    scroll-behavior: smooth;
  }
body{
    color: var(--secondary-color);
    font-family: 'Nunito', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    padding: $spacing-8;
}
.profile-img{
    width: $spacing-8*1.5;
    border-radius: 50%;
    overflow: hidden;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    .fa{
        font-size: $spacing-medium;
    }
}
.introduction{
    padding-top: $spacing-6;
    padding-bottom: $spacing-6;
    position: relative;
    p{
        font-size: $spacing-4;
    }
}
.background-img{
    z-index: 0;
    opacity: 35%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: hard-light;
    object-fit: cover;
} 
.skills-section,.hero{
    position: relative;
    .background-img{
        opacity: 10%;
        filter: blur(2px);
    }
    .skills-img{
        width: calc(100% / 6);
    }
    .languages{
        font-size: $spacing-3;
    }
}
section:nth-of-type(2n+0) {
    background: var(--secondary-color);
    color: white;

};
.skills-gif.img-fluid{
    position: relative;
    z-index: 3;
}
.proj-container{
    cursor: pointer;
    position: relative;
    width: calc(33% - 50px);
    margin: $spacing-medium;
    border-radius: $spacing-medium;
    overflow: hidden;
    a{
        color: white;
    }
    .specs{
        opacity: 0;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        hr{
            align-self: center;
            width: 75%;
            border-top: 2px solid white;
        }
        background-color: #000000a1;
        z-index: 2;
        top: 0;
        position: absolute;
    }
}
.go-up{
    filter: drop-shadow(0px 0px 5px #000000ab);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $spacing-3;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    position: fixed;
    top: 100px;
    right: $spacing-2;
    width: 50px;
    height: 50px;
    cursor: pointer;
}