
@media screen and (max-width:900px) {
    .proj-container{
        width: calc(50% - 50px);
    }
    .skills-section{
        .skills-img{
            width: 33%;
        }
    }
}
@media screen and (max-width:600px) {

    .hero>.d-flex{
        flex-direction: column;
    }
    section{
        padding: $spacing-6;
    }
    .proj-container{
        width: 100%;
    }
}
@media screen and (min-width:1300px){
    .go-up{
        width: auto;
        height: auto;
        padding: 10px;
        font-size: 1.5rem;
    }
    .mini-font-size{
        font-size: 10px;
    }
}

