
@media screen and (max-width:900px) {
    .proj-container{
        width: calc(50% - 50px);
    }
    .skills-section{
        .skills-img{
            width: 33%;
        }
    }
}
@media screen and (max-width:600px) {

    .hero>.d-flex{
        flex-direction: column;
    }
    section{
        padding: $spacing-6;
    }
    .proj-container{
        width: 100%;
    }
}

