:root{
    --primary-color: #E6BC00;
    --secondary-color: #2e2e2e;
}
$spacing-1: 5px;
$spacing-2: 8px;
$spacing-medium: 25px;
$spacing-3: 13px;
$spacing-4: 21px;
$spacing-5: 34px;
$spacing-6: 55px;
$spacing-7: 89px;
$spacing-8: 144px;


